# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\[FII] Facultate\[JAVA] Programare Avansata\Laborator-6-compulsoryFX\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
